.searchpage_result{
    margin: 40px 0;
}

.searchpage_resultcount{
    color: #70757a;
    font-size: 14px ;
}

.searchpage_results{
    max-width: 650px;
    margin-top: 20px;
    margin-left: 240px;
    margin-bottom: 100px;
}

.searchpage_resultTitle{
    text-decoration: none;
}
.searchpage_resultTitle :hover{
    text-decoration: underline;
}

.searchpage_resultTitle > h2 {
    font-weight: 500;
}

.searchpage_resultsnippet {
    margin-top: 10px;
} 